<% layout("/layouts/boilerplate") %>


    <div class="row mt-3">
  <div class="col-8 offset-2">
    <br><br>
    <h3>Create new Listing </h3>
<form method="POST" action="/listings" novalidate class="needs-validation">

    <div class="mb-3">
        <label for="title" class="form-label"> Title</label>
        <input name="listing[title]" type="text" placeholder="Add a catchy title" class="form-control" required >
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Please Enter the title</div>

    </div>
   
    <div class="mb-3">
        <label for="description" class="form-label" > description</label>
        <textarea name="listing[description]" placeholder="Enter description"  class="form-control" required></textarea>
     </div>

    
     <div class="mb-3">
        <label for="image" class="form-label"> Image link</label>
        <input name="listing[image]" type="text" placeholder="Enter image URL/link" class="form-control">

     </div>



     <div class="row" >
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">enter price</label>
            <input name="listing[price]" placeholder="1200" class="form-control" required>
            <div class="valid-feedback">Price looks good</div>
            <div class="invalid-feedback">Please Enter valid price</div>

        </div>
 
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input name="listing[country]" type="text" placeholder="India" class="form-control" required>
            <div class="valid-feedback"> nice Country </div>
            <div class="invalid-feedback">Country Name is Required</div>

           </div>

     </div>
    
    
    <div class="mb-3">

    <label for="location" class="form-label">Location</label>
    <input name="listing[location]" type="text" placeholder="chanderi, madhya pradesh" class="form-control" required>
    <div class="valid-feedback"> Nice location</div>
    <div class="invalid-feedback">Please Enter the Location</div>

   </div>
   <br>
   
    
    <button  class="btn btn-dark add mt-3">Add</button>
    <br><br><br><br>
   
</form>




</div>
</div>